* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;

}

@font-face {
  font-family: myfont;
  src: url("./Fonts/font2.ttf");
}

html,
body {
  font-family: myfont;
}

:root {
  --width: 1400px;
  --bg: rgb(46, 196, 255);
  --bg-black: black;
}

.navbar-section {
  max-width: 100%;
  padding: 0 3rem 0;
  display: flex;
  justify-content: center;
}

.navbar-section nav {
  width: 1200px;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.navbar-section nav .logo {
  font-weight: 700;
  font-size: 2.5rem;
  cursor: pointer;
}

.navbar-section nav .book-trip-btn {
  padding: 0.6rem 2.7rem;
  background-color: black;
  outline: none;
  border: none;
  border-radius: 50px;
  color: white;
  font-weight: 400;
  font-size: 1.1rem;

}

.navbar-section nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.navbar-section nav ul li {
  font-weight: 500;
  font-size: 1.5rem;
  padding: .5rem 0;
  margin: 0 1rem;
  cursor: pointer;
  position: relative;
  list-style-type: none;
}

.navbar-section nav ul li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0%;
  background-color: blue;
  transition: width .5s ease;
}

.navbar-section nav ul li:hover::after {
  width: 100%;
}

/* hero section css */

.hero-section {
  height: 120vh;
  width: calc(100% - 2rem);
  margin: 1rem;
  border-radius: 50px;
  background-image: url("../src/assets/header-bg.jpg");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-section .section-heading {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.hero-section .section-heading h1 {
  /* width: 250%; */
  font-size: 5rem;
  transform: translateX(120%);
}

/* About Page Css  */

.about-page {
  height: 100vh;
  width: 100%;
  background-color: aliceblue;
  overflow: hidden;
}
.about-page div h1{
  /* width:200%; */
  font-size: 5rem;  
}
